* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-weight: 800;
}

.flexer {
  display: flex;
}

.flexer.between {
  justify-content: space-between;
}

.flexer.center-cross {
  align-items: center;
}

.flexer.wrap {
  flex-wrap: wrap;
}

.flexer.center {
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  background: #1b3a52;
  min-height: 100vh;
}

.bg-main {
  background-color: #0f293c;
}

.c-main {
  color: white;
}

label {
  color: white;
}

header {
  color: white;
}

header .header-head {
  background-color: #0f293c;
  padding: 20px 40px;
}

header .header-head i {
  padding-right: 5px;
  font-size: 1.3em;
}

header nav li {
  padding: 10px;
  font-weight: 800;
}

.comics {
  background-color: #193e5b;
  padding: 10px;
}

.comics .comic {
  width: calc(100% / 3);
  min-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comics .comic .details {
  font-size: 0.8em;
  padding: 5px;
}

.comics .comic .details h3 {
  margin-bottom: 15px;
}

.comics .comic .details span {
  display: block;
  margin-bottom: 5px;
}

.comics .comic .details .price::after {
  content: "$";
}

.comics .comic img {
  width: 50%;
}

.jumbotron {
  background-color: #0f293c;
}

.jumbotron img {
  max-height: 700px;
}

.errors li {
  color: lightcoral;
  margin-bottom: 10px;
  padding: 15px;
  background-color: lightgray;
}

