* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
li {
    list-style-type: none;
}

h1, h2 {
    font-weight: 800;
}

.flexer {
    display: flex;
    &.between {
        justify-content: space-between;
    }
    &.center-cross {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.center {
        justify-content: center;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #1b3a52;
    min-height: 100vh;
}

.bg-main {
    background-color: $main_color;
}
.c-main {
    color: $main_text_color;
}

label {
    color: $main_text_color;
}